---
title: Workshop
layout: page
permalink: /workshop/
published: true
date: 2021-10-09
category: header
---
<div id="workshop">
    <h1>NSF Workshop on AI for 4D Materials Discovery</h1>

    <b>Time: 7:30am-12pm MST, Oct. 21 and Oct. 22, 2021</b><br><br>

    <b><a href="https://asu.zoom.us/j/6400171121">Zoom Link</a> |
        <a href="https://gather.town/app/n62IFvxrea8k3YPp/NSF%20AI-Materials%20Science">Gather.Town Link</a></b>

<!--<p><b>Background</b>: Material systems in real world applications have-->
<!--coupled, partially known, and stochastic dynamics on multiple length-->
<!--and time scales driven by a variety of external stimuli. These-->
<!--properties make the model-design-validation closed loop extremely-->
<!--expensive to execute for materials discovery. On the other hand,-->
<!--machine learning/AI techniques have shown promising generalization-->
<!--performance at learning reduced-order representations for predicting-->
<!--dynamics. Yet their merits at solving real-world materials challenges-->
<!--    are untested.</p>-->

<!--<p><b>Objectives</b>: To understand the nature of existing challenges in-->
<!--modeling, designing, and manufacturing new materials in critical-->
<!--applications of national interests (e.g., semiconductors and energy-->
<!--materials). And to derive the fundamental machine learning, AI, and-->
<!--computational needs from these challenges.</p>-->

    <div class="workshop-topic">
        <h3><b>Schedule:</b></h3>
        <table>
            <thead>
            <tr>
                <th>Oct. 21</th>
                <th></th>
                <th>Oct. 22</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>7:30-7:45AM</td>
                <td>Coffee Break</td>
                <td>7:30-7:45AM</td>
                <td>Coffee Break</td>
            </tr>
            <tr>
                <td>7:45-8:30AM</td>
                <td>Keynote 1: Dr. Nik Chawla (Purdue)</td>
                <td>7:45-8:30AM</td>
                <td>Keynote 4: Dr. Tommy Sewell (U. of Missouri)</td>
            </tr>
            <tr>
                <td>8:35-9:20AM</td>
                <td>Keynote 2: Dr. Adam Hopkins (Uniformity)</td>
                <td>8:35-9:05AM</td>
                <td>Ligntning Talk 1: Dr. Tim Tsu (LLNL)</td>
            </tr>
            <tr>
                <td>9:25-10:10AM</td>
                <td>Keynote 3: Dr. Matt Maschmann (U. of Missouri)</td>
                <td>9:10-9:40AM</td>
                <td>Lightning Talk 2: Dr. James Chapman (LLNL)</td>
            </tr>
            <tr>
                <td>10:15-10:30AM</td>
                <td>Coffee Break</td>
                <td>9:45-10:15AM</td>
                <td>Lightning Talk 3: Dr. Aytekin Gel (ALPEMI)</td>
            </tr>
            <tr>
                <td>10:30-11:30AM</td>
                <td>Round Table 1: 4D Materials Challenges</td>
                <td>10:15-10:30AM</td>
                <td>Coffee Break</td>
            </tr>
            <tr>
                <td>11:30AM-12PM</td>
                <td>Report 1</td>
                <td>10:30-11:30AM</td>
                <td>Round Table 2: Challenges in Applying AI to Materials  </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>11:30AM-12PM</td>
                <td>Report 2</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="workshop-topic">
        <h3><b>Speakers:</b></h3>
        <!--    <b>Future Talks</b><br>-->
        {% for people in site.posts %}
        {% if people.categories contains 'keynote' %}
        <div class="member">
            {% if people.image %}
            <img src="{{ site.url }}/_images/people/{{ people.image}}">
            {% else %}
            <img src="{{ site.url }}/_images/people/missing_people.png">
            {% endif %}
            <br><b><a href="http://{{ people.link }}">{{ people.name }}</a></b><br> {{ people.position }}<br>
            <!--        <b>Research Interests:</b> {{ people.project }}-->
        </div>
        {% endif %}
        {% endfor %}
    </div>



    <div class="workshop-topic">
        <h3><b>Participants:</b></h3>
        <!--    <b>Future Talks</b><br>-->
        {% for people in site.posts %}
        {% if people.categories contains 'workshop' %}
        <div class="member">
            {% if people.image %}
            <img src="{{ site.url }}/_images/people/{{ people.image}}">
            {% else %}
            <img src="{{ site.url }}/_images/people/missing_people.png">
            {% endif %}
            <br><b><a href="http://{{ people.link }}">{{ people.name }}</a></b><br> {{ people.position }}<br>
    <!--        <b>Research Interests:</b> {{ people.project }}-->
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
